{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <!-- Page Header -->
        <header class="masthead" style="background-image: url({{ asset('img/home-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in articles %}
                <div class="post-preview">
                    <a href={{ url("show", {"id": article.id}) }}>
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.subTitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{ article.author }}</a>
                        on {{ article.createdAt|date("F m, Y") }}</p>
                </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}